[Desktop Entry]
Type=Application
Version=1.0
Name=Tipsy - Play
GenericName=Roblox
Comment=Launch Roblox with Tipsy
Exec=tipsy-gui --play %u
Icon=tipsy
Terminal=false
Categories=Game;
Keywords=Roblox;Game;Linux;Launcher;Play;
MimeType=x-scheme-handler/roblox;x-scheme-handler/roblox-player;
StartupNotify=true
StartupWMClass=roblox
Actions=Settings;
X-AppImage-Integrate=false

[Desktop Action Settings]
Name=Tipsy - Settings
Icon=tipsy
Exec=tipsy-gui
