[Desktop Entry]
Type=Application
Version=1.0
Name=Tipsy
GenericName=Roblox compatibility runtime
Comment=Set up and launch the official Roblox Android client on Linux
Exec=tipsy-gui
Icon=tipsy
Terminal=false
Categories=Game;
Keywords=Roblox;Game;Linux;Launcher;
StartupNotify=true
StartupWMClass=tipsy-gui
